div.wrapper {
  margin: 0 auto;
  width: 200px;

  div.list-wrapper {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        padding-top: 3px;
        padding-bottom: 3px;
        border-bottom: 1px solid #ccc;

        input[type='text'] {
          width: 75%;
        }
        input[type='submit'] {
          width: 21%;
          text-align: center;
        }
      }
    }
  }
}
h1 {
  text-align: center;
}
